<div class="row">
    <div class="col-6">
        <div class="card">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">mission</th>
                    <th scope="col">niveau</th>
                    <th scope="col">nombre de joueurs</th>
                </tr>
                </thead>
                <tbody>
                {% for mission in missions %}
                <tr>
                    <td><a>{{ mission.id }}</a></td>
                    <td><a>{{ mission.title }}</a></td>
                    <td><a>{{ mission.level }}</a></td>
                    <td><a>{{ mission.players }}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>