{% extends 'layout.html.twig' %}

{% block header %}
    {% include '/Item/_navbarAdmin.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container">
        {% include '/Admin/_contentAdmin.html.twig' %}
    </div>

{% endblock %}
