{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/admin.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
{% endblock %}

{% block header %}
    {% include '/Item/_navbarAdmin.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'Admin/contentAdmin.html.twig' %}
    </div>

{% endblock %}
