{% extends 'layoutVisitor.html.twig' %}

{% block content %}

    <section id="cgvu">
        <div class="container">

        <h1>Conditions Générales de Vente et d’Utilisation</h1>

        <p>
            Ce site web est exploité par Esc’ape. Toutes les informations qui y sont disponibles le sont sous réserve de
            votre acceptation de l’ensemble des modalités, conditions, politiques et avis énoncés ici. Veuillez en
            prendre connaissance attentivement.
            En visitant ce site et/ou en réservant une de nos prestations, vous acceptez d’être lié par les modalités
            suivantes, y compris les modalités, conditions et politiques additionnelles auxquelles il est fait référence
            ici et/ou accessibles par hyperlien.
            Le module de réservation en ligne est géré par la société Bookeo. Ils nous fournissent la plate-forme
            e-commerce qui nous permet de vous vendre nos prestations. Veuillez prendre connaissance également de leurs
            conditions générales de vente et d’utilisation.
        </p>

        <h2>1 – CONDITIONS GÉNÉRALES</h2>

        Nous nous réservons le droit de refuser à tout moment l’accès aux services à toute personne, et ce, pour quelle
        que raison que ce soit.

        Vous acceptez de ne pas reproduire, dupliquer, copier, vendre, revendre ou exploiter une quelconque partie du
        Service ou utilisation du Service, ou un quelconque accès au Service ou contact sur le site web, par le biais
        duquel le Service est fourni, sans autorisation écrite expresse préalable de notre part.

        <h2>2 – EXACTITUDE, EXHAUSTIVITÉ ET ACTUALITÉ DES INFORMATIONS</h2>

        Nous ne sommes pas responsables si les informations disponibles sur ce site ne sont pas exactes, complètes ou à
        jour. Le contenu de ce site est fourni à titre indicatif uniquement et ne devrait pas constituer votre seule
        source d’information pour prendre des décisions, sans consulter au préalable des sources d’information plus
        exactes, plus complètes et actualisées. Si vous décidez de vous fier au contenu présenté sur ce site, vous le
        faites à votre propre risque.

        Ce site pourrait contenir certaines informations antérieures. Ces informations antérieures, par nature, ne sont
        pas à jour et sont fournies à titre indicatif seulement. Nous nous réservons le droit de modifier le contenu de
        ce site à tout moment, mais nous n’avons aucune obligation de mettre à jour les informations sur notre site.
        Vous acceptez qu’il vous incombe de surveiller les modifications apportées à notre site.

        <h2>3 – MODIFICATIONS APPORTÉES AU SERVICE ET AUX PRIX</h2>

        Toutes les descriptions des prestations et leur tarification peuvent être modifiées en tout temps sans avis
        préalable, à notre seule discrétion. Nous nous réservons le droit d’arrêter d’offrir une prestation à tout
        moment.

        Nous ne garantissons pas que la qualité de toutes les prestations que vous avez obtenue ou achetée répondra à
        vos attentes, ni que toute erreur dans ce service sera corrigée.

        <h2>4 – ANNULATION</h2>

        Aucun remboursement ne sera fourni en cas de non-présentation.

        En cas de retard supérieur ou égal à 15 minutes sur l’horaire réservé, Esc’ape se réserve le droit d’annuler la
        prestation, sans qu’aucun remboursement ne soit effectué.

        <h2>5 – LIENS DE TIERS</h2>

        Certains contenus, produits et services disponibles par le biais de notre Service pourraient inclure des
        éléments provenant de tierces parties.

        Les liens provenant de tierces parties sur ce site pourraient vous rediriger vers des sites web de tiers qui ne
        sont pas affiliés à nous. Nous ne sommes pas tenus d’examiner ou d’évaluer le contenu ou l’exactitude de ces
        sites, et nous ne garantissons pas et n’assumons aucune responsabilité quant à tout contenu, site web, produit,
        service ou autre élément accessible sur ou depuis ces sites tiers.

        Nous ne sommes pas responsables des préjudices ou dommages liés à l’achat ou à l’utilisation de biens, de
        services, de ressources, de contenu, ou de toute autre transaction effectuée en rapport avec ces sites web de
        tiers. Veuillez lire attentivement les politiques et pratiques des tierces parties et assurez-vous de bien les
        comprendre avant de vous engager dans toute transaction. Les plaintes, réclamations, préoccupations, ou
        questions concernant les produits de ces tiers doivent être soumises à ces mêmes tiers.

        <h2>6 – COMMENTAIRES, SUGGESTIONS ET AUTRES PROPOSITIONS D’UTILISATEURS</h2>

        Si, à notre demande, vous soumettez des contenus spécifiques (par exemple, pour participer à des concours), ou
        si sans demande de notre part, vous envoyez des idées créatives, des suggestions, des propositions, des plans ou
        d’autres éléments, que ce soit en ligne, par e-mail, par courrier, ou autrement (collectivement, « commentaires
        »), vous nous accordez le droit, en tout temps, et sans restriction, d’éditer, de copier, de publier, de
        distribuer, de traduire et d’utiliser autrement et dans tout média tout commentaire que vous nous envoyez.

        Nous pourrions, surveiller, modifier ou supprimer le contenu que nous estimons, à notre seule discrétion, être
        illégal, offensant, menaçant, injurieux, diffamatoire, pornographique, obscène ou autrement répréhensible, ou
        qui enfreint toute propriété intellectuelle ou ces Conditions Générales de Vente et d’Utilisation.

        Vous vous engagez à écrire des commentaires qui ne violent pas les droits de tierces parties, y compris les
        droits d’auteur, les marques déposées, la confidentialité, la personnalité, ou d’autres droits personnels ou de
        propriété. Vous convenez également que vos commentaires ne contiendront pas de contenu illégal, diffamatoire,
        offensif ou obscène, et qu’ils ne contiendront non plus pas de virus informatique ou d’autres logiciels
        malveillants qui pourraient affecter de quelque manière que ce soit le fonctionnement du Service ou tout autre
        site web associé. Vous ne pouvez pas utiliser de fausse adresse e-mail, prétendre être quelqu’un que vous n’êtes
        pas, ou essayer de nous induire nous et/ou les tierces parties en erreur quant à l’origine de vos commentaires.
        Vous êtes entièrement responsable de tous les commentaires que vous publiez ainsi que de leur exactitude. Nous
        n’assumons aucune responsabilité et déclinons tout engagement quant à tout commentaire que vous publiez ou que
        toute autre tierce partie publie.

        <h2>7. GESTION DES DONNÉES PERSONNELLES</h2>

        7.1. Formulaire de contact : Les informations saisies et recueillies sur ce formulaire sont enregistrées en base
        de données par Esc’ape pour archivage et consultées dans le cas où les emails récapitulatifs envoyés suite à la
        soumission seraient perdus (problèmes techniques, serveurs, blocage pare-feu, etc.). Elles sont conservées sans
        limite de durée et sont destinées uniquement aux modérateurs et gérants d’Esc’ape. Conformément à la loi «
        informatique et libertés », vous pouvez exercer votre droit d’accès aux données vous concernant et les faire
        rectifier ou effacer en contactant : Jennifer Roy, contact@esc-ape.fr, 384 rue des Moulins
        45750 Saint Pryvé Saint Mesmin. </br>

        7.2. Formulaires de réservation des salles : Les informations saisies et recueillies sur ces formulaires sont
        enregistrées en base de données par la société Bookeo, dont les conditions générales de vente et d’utilisation
        sont tenues à disposition des usagers.</br>

        7.3. Gestion des cookies : Certaines fonctionnalités du site esc-ape.fr utilisent des cookies pour enregistrer
        et utiliser des données personnelles dans le cadre de leurs bon fonctionnement : partage vers les réseaux
        sociaux, Google Map, Google Analytics. Le site intègre un composant qui propose aux internautes l’acceptation ou
        le refus complet ou partiel des cookies utilisés par les fonctionnalités listées.</br>

        7.4. Droit à l’oubli : Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit
        d’accès aux données vous concernant et les faire rectifier ou effacer en contactant :Jennifer Roy,
        contact@esc-ape.fr, 384 rue des Moulins
        45750 Saint Pryvé Saint Mesmin.</br>

        7.5. Sécurité des données : Les données personnelles collectées par les formulaires du site esc-ape.fr sont à
        usage exclusif et ne seront jamais cédées à des tiers.

        <h2>8 – UTILISATIONS INTERDITES</h2>

        En plus des interdictions énoncées dans les Conditions Générales de Vente et d’Utilisation, il vous est interdit
        d’utiliser le site ou son contenu :
        <ul>
            <li>à des fins illégales ;</li>
            <li>pour inciter des tiers à réaliser des actes illégaux ou à y prendre part ;</li>
            <li>pour enfreindre toute ordonnance régionale ou toute loi, règle ou régulation internationale, fédérale,
                provinciale ou étatique ;
            </li>
            <li>pour porter atteinte à ou violer nos droits de propriété intellectuelle ou ceux de tierces parties ;
            </li>
            <li>pour harceler, maltraiter, insulter, blesser, diffamer, calomnier, dénigrer, intimider ou discriminer
                quiconque en fonction du sexe, de l’orientation sexuelle, de la religion, de l’origine ethnique, de la
                race, de l’âge, de l’origine nationale, ou d’un handicap ;
            </li>
            <li>pour soumettre des renseignements faux ou trompeurs ;</li>
            <li>pour téléverser ou transmettre des virus ou tout autre type de code malveillant qui sera ou pourrait
                être utilisé de manière à compromettre la fonctionnalité ou le fonctionnement du Service ou de tout
                autre site web associé, indépendant, ou d’Internet ;
            </li>
            <li>pour recueillir ou suivre les renseignements personnels d’autrui ;</li>
            <li>pour polluposter, hameçonner, détourner un domaine, extorquer des informations, parcourir, explorer ou
                balayer le web (ou toute autre ressource);
            </li>
            <li>à des fins obscènes ou immorales ;</li>
            <li>pour porter atteinte ou contourner les mesures de sécurité de notre Service, de tout autre site web, ou
                d’Internet.
            </li>
            <li>Nous nous réservons le droit de résilier votre utilisation du Service ou de tout site web connexe pour
                avoir enfreint les utilisations interdites.
            </li>
        </ul>
        <h2>9 – EXCLUSION DE GARANTIES ET LIMITATION DE RESPONSABILITÉ</h2>

        Esc’ape, nos responsables, collaborateurs et prestataires de services ne peuvent en aucun cas être tenus
        responsables de toute blessure, perte, réclamation, ou de dommages directs, indirects, accessoires, punitifs,
        spéciaux, ou dommages consécutifs de quelque nature qu’ils soient, résultant de votre utilisation de tout
        service ou produit provenant de ce Service, ou quant à toute autre réclamation liée de quelque manière que ce
        soit à votre utilisation du Service. Notre responsabilité est limitée dans la mesure maximale permise par la
        loi.

        <h2>10 – LOI APPLICABLE</h2>

        Ces Conditions Générales de Vente et d’Utilisation, ainsi que tout autre accord séparé par le biais duquel nous
        vous fournissons des Services seront régis et interprétés en vertu des lois en vigueur.

        <h2>11 – COORDONNÉES</h2>

        Les questions concernant les Conditions Générales de Vente et d’Utilisation peuvent nous être envoyées à
        contact@esc-ape.fr.

        </div>
    </section>

{% endblock content %}
