<nav class="sidebar">
    <img src="/assets/images/navbar/logoprojet2.png">
    <h1>Administration</h1>
    <ul class="list-unstyled">
        <li>
            <a href="#">Missions</a>
        </li>
        <li>
            <a href="#">Tarifs</a>
        </li>
    </ul>
    <ul class="bottom-nav list-unstyled">
        <li>
            <a href="#">Retour au site</a>
        </li>
    </ul>
</nav>