<footer>
    <div class="row">
        <div class="col-4 footer-left">
            <p>Copyright © 2019 Esc'ape<br>
                Consulter nos <a href="#">Mentions légales</a> et nos <a href="#">CGVU</a></p>
        </div>
        <div class="col-4 footer-center">
            <img src="../../../public/assets/images/footer/fb.png">
            <img src="../../../public/assets/images/footer/tripadvisor.png">
            <img src="../../../public/assets/images/footer/twitter.png">
        </div>
        <div class="col-4 footer-right">
            <p><span>ESC'APE</span><br>
            384 rue des Moulins<br>
            45750 Saint Pryvé Saint Mesmin<br>
            Tél. 06 58 78 61 73<br>
            Mail <a href="mailto:contact@esc-ape.fr">contact@esc-ape.fr</a></p>
        </div>
    </div>
</footer>