<footer>
    <div class="row mt-5 no-gutters">
        <div class="col-4 footer-left">
            <p>Copyright © 2019 Esc'ape<br>

                Consulter nos <a href="/Mention/index">Mentions légales</a> et nos <a href="/Cgvu/index">CGVU</a></p>

        </div>
        <div class="col-4 text-center footer-center text-nowrap">
            <a href="https://www.tripadvisor.fr/Attraction_Review-g3329364-d9807576-Reviews-Esc_ape-Saint_Pryve_Saint_Mesmin_Loiret_Centre_Val_de_Loire.html"><img
                        src="/assets/images/footer/tripadvisor.png" class="mr-3"></a>
            <a href="https://www.facebook.com/escapegameorleans"><img src="/assets/images/footer/fb.png"
                                                                      class="mr-3"></a>
            <a href="https://twitter.com/EscApeOrleans"><img src="/assets/images/footer/twitter.png"></a>
        </div>
        <div class="col-4 footer-right text-right">
            <p><span class="title-footer">ESC'APE</span><br>
                384 rue des Moulins<br>
                45750 Saint Pryvé Saint Mesmin<br>
                Tél. 06 58 78 61 73<br>
                Mail <a href="mailto:contact@esc-ape.fr">contact@esc-ape.fr</a></p>
        </div>
    </div>
</footer>