
<nav class="navbar navbar-default navbar-fixed-top navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> <img class="logo" src="/assets/images/navbar/logoprojet2.png" alt="EscApe"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Missions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#"> Nautilus (VR)</a>
                        <a class="dropdown-item" href="#"> La demeure</a>
                        <a class="dropdown-item" href="#"> Back to the past</a>
                        <a class="dropdown-item" href="#"> L'atelier</a>
                        <a class="dropdown-item" href="#"> Aiguillage fatal</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Tarifs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
