<section id="navbar">
<nav class="navbar navbar-default navbar-expand-sm navbar-light navbar-fixed-top navbar-expand-lg">
    <div class="container-fluid titles">
        <a class="navbar-brand" href="/Home/index">
            <img src="/assets/images/navbar/logoleaf.png" alt="EscApe"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Togglenavigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/Mission/index" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Missions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% for mission in missions %}
                        <a class="dropdown-item" href="#">{{ mission.title }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Price/index">Tarifs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contact/index">ContactUs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</section>