
{# <------ TITLE ------ #}
<section id="title">
    <div class="row justify-content-center">
        <div class="col-12 woodSign">

            <div>
                <h1> Bienvenue à <br/> <span class="bigfont">ESC'APE</span></h1>
            </div>
            <h2> Oseriez-vous l'Aventure?</h2>
        </div>
    </div>
</section>
{#------ TITLE ------>#}
