<section>
    <h2 class="text-center text-light">Les atouts Esc'ape</h2>
    <div class="row justify-content-center cardd ">
        <div class="card col-3 m-3">
            <div class="card-body ">
                <div class="masque doliprane">
                    <h5 class="card-title text-center"><i class="fas fa-child"></i></h5>
                    <p class="card-text text-center pt-2">Famille</p>
                </div>
                <p class="enhover px-2">Parents, enfants, oncles ou cousins, testez vos méninges et votre esprit de
                    famille dans la bonne humeur. Un divertissement familial pour tous (à partir de 12 ans) qui va à
                    coup sûr vous permettre de vous redécouvrir dans des situations inattendues !</p>
            </div>
        </div>
        <div class="card m-3 col-3">
            <div class="card-body ">
                <div class="masque doliprane">
                    <h5 class="card-title text-center"><i class="fas fa-drafting-compass"></i></h5>
                    <p class="card-text text-center pt-2">Personnaliser</p>
                </div>
                <p class="enhover px-2">Il y a toujours une bonne occasion de se faire plaisir : anniversaire,
                    enterrement de vie de célibataire, retrouvailles, sortie week-end... Faire travailler vos méninges
                    et vous amuser, c'est le défi que nous vous proposons de relever. En bonus, nous vous proposons de
                    glisser dans la pièce un mot ou un cadeau personnalisé</p>
            </div>
        </div>
        <div class="card m-3 col-3">
            <div class="card-body">
                <div class="masque doliprane">
                    <h5 class="card-title text-center "><i class="fas fa-trophy"></i></h5>
                    <p class="card-text text-center pt-2">Defis</p>
                </div>
                <p class="enhover px-2">Amis gamers… de nouveaux défis à relever ! Vous adorez les Escape Game virtuels,
                    êtes fans d'énigmes et autres jeux de logique, alors sautez le pas et devenez acteur de votre propre
                    aventure. Ici, le temps vous est compté. Défiez notre compteur et échappez-vous dans le temps
                    imparti. Alors, serez-vous aussi incollable en réel que dans le virtuel ?</p>
            </div>
        </div>
        <div class="card m-3 col-3">
            <div class="card-body ">
                <div class="masque doliprane">
                    <h5 class="card-title text-center "><i class="fas fa-briefcase"></i></h5>
                    <p class="card-text text-center pt-2">Entre collègues</p>
                </div>
                <p class="enhover px-2">Renforcer la cohésion de votre équipe en testant votre rapidité et votre
                    efficacité, lancez vous des défis entre équipes... Esc'ape vous propose de développer votre team
                    building, en vous mettant à l'épreuve par le jeu. Nos locaux sont conçus pour allier l'utile à
                    l'agréable puisque nous mettons à votre disposition une salle de réunion,l’union fait la force !</p>
            </div>
        </div>
        <div class="card m-3 col-3">
            <div class="card-body">
                <div class="masque doliprane">
                    <h5 class="card-title text-center"><i class="fas fa-shopping-bag"></i></h5>
                    <p class="card-text text-center pt-2">Sur place ou à emporter</p>
                </div>
                <p class="enhover px-2">Adeptes des soirées à thème, nos kits à emporter sont faits pour vous ! Pour un
                    anniversaire, entre amis ou entre collègues, vous avez le lieu nous vous proposons l'animation : la
                    maison, votre entreprise ou salle des fêtes deviendra votre escape game éphémère... Choisissez votre
                    énigme, Esc'Ape s'occupe de tout, ça vous tente ?</p>
            </div>
        </div>
    </div>
</section>
