
<header class="container woodSign">


    <div>
        <h2> Oseriez-vous l'Aventure?</h2>
        <h1> Bienvenue à <br/> <span class="bigfont">ESC'APE</span> <img class ="logo" src="assets/images/navbar/logoprojet2.png"></h1>
    </div>


</header>