
<header>

{# <------ TITLE ------ #}
    <div class="row title justify-content-center">
        <div class="col-12 woodSign">

            <div class="header">
                <h1> Bienvenue à <br/> <span class="bigfont">ESC'APE</span></h1>
            </div>
            <h2> Oseriez-vous l'Aventure?</h2>
        </div>
    </div>

{#------ TITLE ------>#}


{# <--- TRIPADVISOR --- #}

    <div class="tripadvisor">
        <div class="row">
            <div class="col-sm-4">
                <img src="assets/images/tripadvisor/tripadvisorLogo.png" alt="tripadvisorlogo" class="tripadvisorlogo">
            </div>

            <div class="col-sm-8">
                <ul class="list-unstyled">
                    <li class="media">

                        <div class="media-body">
                            <h5 class="mt-0 mb-1 avis">“ Tout simplement génial ! ”</h5>
                            <p><img src="assets/images/tripadvisor/note1.png" class="mr-3 note" alt="note1">Date de l'expérience : Mars 2019</p>
                        </div>
                    </li>
                    <li class="media my-4">

                        <div class="media-body">
                            <h5 class="mt-0 mb-1">“ Aiguillage fatalement top! Je recommande... ”</h5>
                            <p><img src="assets/images/tripadvisor/note2.png" class="mr-3 note" alt="note2">Date de l'expérience : Février 2019</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{# --- TRIPADVISOR ---> #}

{# --- buttonMission ---> #}

    <div class="container buttonmissions">
        <h3><a href="#">Missions</a></h3>
    </div>

{# --- buttonMission ---> #}

</header>