<div class="container pl-0 center">
    <div class="card-group">
        <div class="card m-2 col-sm-12 text-center">
            <div class="card-header">
                Tweet
            </div>
            <div class="card-body">
                <p class="card-text">Nous serons là parmi vous pour ce super événement, le capitaine Wynne vous attend... Rendez vous le samedi 25 mai...</p>
                <a href="#" class="btn btn-news">Voir plus</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
        <div class="card m-2 col-sm-12 text-center">
            <div class="card-header">
                Tweet
            </div>
            <div class="card-body">
                <p class="card-text">Nous avons des soucis de réseau téléphonique ce matin, n'hésitez pas à nous envoyer un mail à  contact@esc-ape.fr    si vous voulez réserver aujourd'hui ou un autre jour, nous vous répondrons très vite. Bonne journée, l'équipe Esc'ape</p>
                <a href="#" class="btn btn-news">Voir plus</a>
            </div>
            <div class="card-footer text-muted">
                3 days ago
            </div>
        </div>
        <div class="card m-2 col-sm-12 text-center">
            <div class="card-header">
                Tweet
            </div>
            <div class="card-body">
                <p class="card-text">Prêts à en découdre avec le trésor du capitaine Wynne, venez nous retrouver le 25 mai à l'île Charlemagne, pour une journée de jeux hors du commun...</p>
                <a href="#" class="btn btn-news">Voir plus</a>
            </div>
            <div class="card-footer text-muted">
                7 days ago
            </div>
        </div>
    </div>
</div>