.navbar {
    background-image: url('../images/navbar/NAVBAR.png');
    background-size: 100% 100%;
    max-height: 140px;
    font-variant: small-caps;
    font-size: 1.5em;
    font-family: monospace, 'courier new';
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}

.titles {
    padding-bottom: 2em;
}

.nav-link {
    color: white;
    margin-top: 0;
    background-color: rgba(34, 139, 34, 0.5);
    border-radius: 40px;
    margin-left: 0.5em;
}

.nav-link:hover {
    color: darkgoldenrod;
}

.nav-link::before {
    content: "|";
}

.dropdown-menu {
    background-color: rgba(34, 139, 34, 0.5);
    border-radius: 40px;
    border: none;
}

.dropdown-item::before {
    content: "|";
}
.dropdown-item{
    color: white;
    padding-left: 1em;
}

.dropdown-item:hover {
    background-color: white;
    color: goldenrod;
    border-radius: 40px;
    -webkit-box-shadow: 15px 14px 29px -3px rgba(0,0,0,0.41);
    -moz-box-shadow: 15px 14px 29px -3px rgba(0,0,0,0.41);
    box-shadow: 15px 14px 29px -3px rgba(0,0,0,0.41);
}

.navbar-toggler-icon {
    color: white;
}

.navbar-expand-sm.nav-link {
    color : black;
}

nav img{
    width: 4em;
    height: 4em;
    vertical-align: middle;
}
