.navbar {
    background-image: url('../images/navbar/NAVBAR.png');
    background-size: 100% 100%;
    min-height: 150px;
    font-variant: small-caps;
    font-size: 1.5em;
    font-family: monospace, 'courier new';
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: darkgoldenrod;
}

.nav-link::before {
    content: "|";
}

.dropdown-menu {
    background-color: transparent;
    border: none;
}

.dropdown-item::before {
    content: "|";
}

.dropdown-item:hover {
    background-color: black;
    color: darkgoldenrod;
    border-radius: 1em;
    -webkit-box-shadow: 15px 14px 29px -3px rgba(0,0,0,0.41);
    -moz-box-shadow: 15px 14px 29px -3px rgba(0,0,0,0.41);
    box-shadow: 15px 14px 29px -3px rgba(0,0,0,0.41);
}

nav img{
    width: 3em;
    height: 3em;
    vertical-align: middle;
}

