body {
    /*background-image: url('../images/background/91284.svg'); => IMAGE A VENIR <= */
    background-color: #201004;
    scroll-behavior: smooth;
}

/*- ====================== HEADER ========================= -*/

/*- ================= TITRE ==================== -*/

.header {
    background-image: url('../images/background/sign2.png');
    background-size: 100% 100%;
    height: 18em;
    width: 40em;
    text-align: center;
    margin-top: 4em;
    font-family: monospace, 'courier new';
    color: white;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
}

.header h1 {
    font-size: 3em;
    font-variant: small-caps;
    vertical-align: middle;
    color: #201004;
    text-shadow: 1px 1px #fae6c6, -1px -1px #5f533b;
}

.header h1 .bigfont {
    font-size: 1.5em;
}

.header h2 {
    font-size: 1.8em;
    font-variant: small-caps;
    padding-top: 3.2em;
}

.logo {
    width: 1.7em;
    height: 1.7em;
    vertical-align: middle;
    margin-left: 0.2em;
    margin-bottom: 1.2em;
}

/*- ================= TITRE ==================== -*/

/*- ============== TRIPADVISOR ================= -*/

.tripadvisor {
    color: white;
    margin-top: 2em;
}

.tripadvisor .note {
    width: 4em;
    height: 1em;
    vertical-align: middle;
}

.tripadvisor h5 {
    font-family: monospace, 'courier new';
    font-style: italic;
}

.tripadvisor .col-4 {
    text-align: center;
}

.tripadvisor .col-8 {
    text-align: center;
}

.tripadvisorlogo {
    width: 15em;
    height: 10em;
    vertical-align: middle;
    margin-left: 65%;
}

/*- ============== TRIPADVISOR ================= -*/

/*- ============ BOUTON MISSIONS =============== -*/
/*- ============ BOUTON MISSIONS =============== -*/


/*- ====================== HEADER ========================= -*/

/*- ======================== BODY ========================= -*/

/*- ============== ATOUTS ================= -*/
/*- ============== ATOUTS ================= -*/

/*- ================ NEWS ================= -*/
/*- ================ NEWS ================= -*/

/*- ============== FOOTER ================= -*/
/*- =============== FOOTER================= -*/

/*- ======================= BODY ========================= -*/
