
/* ATOUTS */
@font-face {
    font-family: "boycott";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/BOYCOTT_.TTF");

}
@font-face {
    font-family: "atype";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/ATypewriterForMe.ttf");

}
.card {
    min-width: 310px;
    max-width: 310px;
    min-height: 420px;
}
.card-title {
    color: #164e1e;
    position: relative;
}
.card {
    position: relative;
    background-image: url("/assets/images/295a135aaa6be7e4debb5b8f816a46d5.jpg");
    border-radius: 10px;
    z-index: 1;
    transition: 0.25s ease-in-out;

}
.card-title {
    font-size: xx-large;
    color: azure;
    padding-top: 120px;
}
.card-text {
    font-family: "boycott";
    font-size: xx-large;
    color: white;
}
.container-fluid {
    height: 150px;
}
.enhover {
    position: absolute;
    z-index: 0;
    min-width: 300px;
    min-height: 340px;
    left: 5px;
    top: 35px;
    opacity: 0;
    color: azure;
    transition: 0.5s ease;
    font-family: "atype";
    font-weight: bold;

}
.card:hover .enhover {
opacity: 100;

}
.card:hover .doliprane {
opacity: 0;
}
.doliprane {
    transition: 0.5s ease;
    opacity: 100;
}
.card:hover {
    transform: scale(1.1);
}
/*FOOTER*/

footer {
    padding: 1.5em 5em 1.5em 5em;
    background-image: url("../images/footer/footer.png");
    background-position: top;
    background-repeat: no-repeat;
    max-height: 350px;
}

footer p {
    color : white;
    font-family: monospace, 'Courier New';
    font-size: 1.5vw;
}

.footer-center img {
    max-width: 5vw;
}

footer .row {
    min-width: 100%;
}

footer p a {
    color: goldenrod;
    transition: ease 0.2s;
}

footer p a:hover {
    color: white;
    text-decoration: none;
}

.title-footer {
    color: goldenrod;
    font-weight: bold;
}

.footer-center img {
    filter: grayscale(1);
    transition: ease 0.2s;
}

.footer-center img:hover {
    filter: grayscale(0);
}

footer .col-4 {
    margin-top: auto;
}

footer p {
    margin-bottom: 0;
}