/*- ======================== BODY ========================= -*/

body {
    /*background-image: url('../images/background/91284.svg'); => IMAGE A VENIR <= */
    background-color: #201004;
    scroll-behavior: smooth;
}

/*======================= NAVBAR =====================*/

/*======================= NAVBAR =====================*/

/*- ====================== HEADER ========================= -*/

/*- ================= TITRE ==================== -*/

.header {
    background-image: url('../images/background/sign2.png');
    background-size: 100% 100%;
    height: 17.5em;
    width: 40em;
    text-align: center;
    margin-top: 3.3em;
    font-family: monospace, 'courier new';
    color: white;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
}

.header h1 {
    font-size: 3em;
    font-variant: small-caps;
    vertical-align: middle;
    color: #201004;
    text-shadow: 1px 1px #fae6c6, -1px -1px #5f533b;
}

.header h1 .bigfont {
    font-size: 1.5em;
    margin-top: 0;
}

.header h2 {
    font-size: 1.8em;
    font-variant: small-caps;
    padding-top: 3em;
}

.logo {
    width: 1.7em;
    height: 1.7em;
    vertical-align: middle;
    margin-left: 0.2em;
    margin-bottom: 1.2em;
}

@media only screen and (max-width: 768px) {
    .header {
        margin-top: 4.5em;
        height: 18em;
    }
}

@media only screen and (max-width: 375px) {
    .header {
        background-image: url('../images/background/woodsignphone.png');
        background-size: 100% 100%;
        height: 15em;
        width: 90%;
        max-width: 375px;
    }


    .woodSign {
        display: flex;
        flex-direction: column-reverse;
    }

    .header h1 {
        font-size: 2em;
        font-variant: small-caps;
        vertical-align: middle;
        color: #201004;
        padding-top: 4.3em;
        text-shadow: 1px 1px #fae6c6, -1px -1px #5f533b;
    }

    .header h1 .bigfont {
        font-size: 1.5em;
        margin-top: 0;
    }

    .header h2 {
        font-size: 1.5em;
        padding-top: 0;
    }

    .logo {
        display: none;
    }
}

/*- ================= TITRE ==================== -*/

/*- ============== TRIPADVISOR ================= -*/

.tripadvisor {
    color: white;
    margin-top: 2em;
}

.tripadvisor .note {
    width: 4em;
    height: 1em;
    vertical-align: middle;
}

.tripadvisor h5 {
    font-family: monospace, 'courier new';
    font-style: italic;
}

.tripadvisor .col-4 {
    text-align: center;
}

.tripadvisor .col-8 {
    text-align: center;
}

.tripadvisorlogo {
    width: 14em;
    height: 10em;
    vertical-align: middle;
    margin-left: 65%;
}

@media only screen and (max-width: 768px) {
    .tripadvisorlogo {
        margin-left: 1.5em;
    }

    .tripadvisor .row {
        margin-top: 3em;
        margin-bottom: 2em;
    }
}

@media only screen and (max-width: 375px) {
    .tripadvisor [class*="col-"] {
        width: 100%;
        text-align: center;
        max-width: 375px;
        padding-right: 0;
    }

    .tripadvisorlogo {
        width: 12em;
        height: 8.5em;
        margin-bottom: 1.5em;
        margin-left: 0;
    }

    .tripadvisor .media-body {
        font-size: 0.8em;
    }

    .tripadvisor .row {
        text-align: center;
        display: inline-block;
    }
}

/*- ============== TRIPADVISOR ================= -*/

/*- ============ BOUTON MISSIONS =============== -*/

.buttonmissions {
    background-image: url("../images/background/fond2.png");
    background-size: 100% 100%;
    width: 20em;
    height: 20em;
}

.buttonmissions h3 {
    font-size: 2.1em;
    text-shadow: 1px 1px #fae6c6, -1px -1px #5f533b;
    font-family: monospace, 'courier new';
    font-variant: small-caps;
    transform: rotate(-9deg);
    padding-top: 3.1em;
    padding-left: 2.3em;
}

.buttonmissions a {
    text-decoration: none;
    color: #201004;

    -webkit-animation: a 400ms infinite alternate;
    animation: a 400ms infinite alternate;
}

@-webkit-keyframes a {
    0% { text-shadow: 1px 1px #fae6c6, -1px -1px #5f533b; }
    100% { text-shadow: 1px 1px #fa2e2d, -1px -1px #5f533b; }
}

.buttonmissions a:hover {
    text-shadow: 1px 1px #fa2e2d, -1px -1px #5f533b;
    animation: none;
}


/*- ============ BOUTON MISSIONS =============== -*/


/*- ====================== HEADER ========================= -*/

/*- ============== ATOUTS ================= -*/
/*- ============== ATOUTS ================= -*/

/*- ================ NEWS ================= -*/
/*- ================ NEWS ================= -*/

/*- ============== FOOTER ================= -*/
/*- =============== FOOTER================= -*/

/*- ======================= BODY ========================= -*/
