/*------------------- NAVBAR -------------------*/

.navbar {
    background-image: url('../images/navbar/NavbarBg.png');
    background-size: 100% 100%;
    max-height: 140px;
    font-variant: small-caps;
    font-size: 1.5em;
    font-family: monospace, 'courier new';
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    z-index: 1000;
}

.titles {
    padding-bottom: 2em;
    margin-left: 0;
    padding-left: 0;
}

.nav-link {
    color: darkgreen;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    margin-left: 0.5em;
}

.nav-link:hover {
    color: darkgoldenrod;
}

.nav-link::before {
    content: "|";
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    border: none;
}

.dropdown-item::before {
    content: "|";
}

.dropdown-item{
    color: darkgreen;
    padding-left: 1em;
}

.dropdown-item:hover {
    background-color: white;
    color: goldenrod;
    border-radius: 20px;
    -webkit-box-shadow: 15px 14px 29px -3px rgba(0,0,0,0.41);
    -moz-box-shadow: 15px 14px 29px -3px rgba(0,0,0,0.41);
    box-shadow: 15px 14px 29px -3px rgba(0,0,0,0.41);
}

.navbar-expand-sm.nav-link {
    color : black;
}

nav img{
    width: 8em;
    height: 6em;
    vertical-align: middle;
    border-radius: 30px 1px 1px 1px;
    margin-top: 1.5em;
}

/* ----- Elles sont necessaires pour l'instant -------> */

@media screen and (max-width: 837px) {
    .navbar img {
        margin-top: 1.1em;
    }

    .nav-link {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 575px) {
    .navbar {
        max-height: 70px;
        padding: 0;
    }

    .nav-link {
        font-size: 0.8em;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 10px;
        border: none;
        margin: 0.1em 1em 0.1em 1em;
    }

    .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .navbar img {
        width: 5em;
        height: 4em;
        margin-top: 0;
    }

    .navbar-brand {
        padding: 0;
    }

    .navbar-toggler {
        color: black;
        display: block;
        margin-right: 1em;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

/*------------------- NAVBAR -------------------*/

/* ATOUTS */
@font-face {
    font-family: "boycott";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/BOYCOTT_.TTF");

}
@font-face {
    font-family: "atype";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/ATypewriterForMe.ttf");

}
.card {
    min-width: 310px;
    max-width: 310px;
    min-height: 420px;
}
.card-title {
    color: #164e1e;
    position: relative;
}
.card {
    position: relative;
    background-image: url("/assets/images/295a135aaa6be7e4debb5b8f816a46d5.jpg");
    border-radius: 10px;
    z-index: 1;
    transition: 0.25s ease-in-out;

}
.card-title {
    font-size: xx-large;
    color: azure;
    padding-top: 120px;
}
.card-text {
    font-family: "boycott";
    font-size: xx-large;
    color: white;
}
.container-fluid {
    height: 150px;
}
.enhover {
    position: absolute;
    z-index: 0;
    min-width: 300px;
    min-height: 340px;
    left: 5px;
    top: 35px;
    opacity: 0;
    color: azure;
    transition: 0.5s ease;
    font-family: "atype";
    font-weight: bold;

}
.card:hover .enhover {
opacity: 100;

}
.card:hover .doliprane {
opacity: 0;
}
.doliprane {
    transition: 0.5s ease;
    opacity: 100;
}
.card:hover {
    transform: scale(1.1);
}
/*FOOTER*/

footer {
    padding-top: 6em;
    padding-left: 5em;
    padding-right: 5em;
    background-image: url("../images/footer/footer.png");
    background-position: bottom;
    background-repeat: no-repeat;
}

footer p {
    color : white;
    font-family: monospace, 'Courier New';
    font-size: 1.5em;
}

.footer-center img{
    max-width: 5vw;
}

footer .row {
    min-width: 100%;
}

footer p a {
    color: goldenrod;
    transition: ease 0.2s;
}

footer p a:hover {
    color: white;
    text-decoration: none;
}

.title-footer {
    color: goldenrod;
    font-weight: bold;
}

.footer-center img {
    filter: grayscale(1);
    transition: ease 0.2s;
}

.footer-center img:hover {
    filter: grayscale(0);
}
