/*- ======================== BODY ========================= -*/

body {
    background-image: url("https://image.freepik.com/free-vector/exotic-pattern-with-tropical-leaves-dark-forest_43605-2958.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #201004;
    scroll-behavior: smooth;
}

h2 {
    font-family: "courier new";
}

/*---------------------------------- header ----------------------------*/
/*------------------- NAVBAR -------------------*/


#navbar .navbar {
    background-image: url('../images/navbar/NavbarBg.png');
    background-size: 100% 100%;
    max-height: 140px;
    font-variant: small-caps;
    font-size: 1.5em;
    font-family: monospace, 'courier new';
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    z-index: 1000;
}

#navbar .titles {
    padding-bottom: 2em;
    margin-left: 0;
    padding-left: 0;
}

#navbar .nav-link {
    color: darkgreen;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    margin-left: 0.5em;
}

#navbar .nav-link:hover {
    color: darkgoldenrod;
}

#navbar .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    border: none;
}

#navbar .dropdown-item::before {
    content: "|";
}

#navbar .dropdown-item{
    color: darkgreen;
    padding-left: 1em;
}

#navbar .dropdown-item:hover {
    background-color: white;
    color: goldenrod;
    border-radius: 20px;
    -webkit-box-shadow: 15px 14px 29px -3px rgba(0,0,0,0.41);
    -moz-box-shadow: 15px 14px 29px -3px rgba(0,0,0,0.41);
    box-shadow: 15px 14px 29px -3px rgba(0,0,0,0.41);
}

#navbar .navbar-expand-sm.nav-link {
    color : black;
}

nav img{
    width: 8em;
    height: 6em;
    vertical-align: middle;
    border-radius: 30px 1px 1px 1px;
    margin-top: 1.5em;
}

/* ----- Elles sont necessaires pour l'instant -------> */

@media screen and (max-width: 837px) {
    #navbar .navbar img {
        margin-top: 1.1em;
    }

    #navbar .nav-link {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 575px) {
    #navbar .navbar {
        max-height: 70px;
        padding: 0;
    }

    #navbar .nav-link {
        font-size: 0.8em;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 10px;
        border: none;
        margin: 0.1em 1em 0.1em 1em;
    }

    #navbar .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.8);
    }

    #navbar .navbar img {
        width: 5em;
        height: 4em;
        margin-top: 0;
    }

    #navbar .navbar-brand {
        padding: 0;
    }

    #navbar .navbar-toggler {
        color: black;
        display: block;
        margin-right: 1em;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

/*------------------- NAVBAR -------------------*/
/*- ================= TITRE ==================== -*/

#title {
    background-image: url('../images/background/sign2.webp');
    background-size: contain;
    height: 50vh;
    width: 80vw;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 3.3em;
    font-family: monospace, 'courier new';
    color: white;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
}

#title h1 {
    padding-top:28vh;
    font-size: 5vh;
    font-variant: small-caps;
    vertical-align: middle;
    color: #201004;
    text-shadow: 1px 1px #fae6c6, -1px -1px #5f533b;
}

#title h1 .bigfont {
    font-size: 1.5em;
    margin-top: 0;
}

#title h2 {
    text-align: center;
    font-variant: small-caps;
    font-family: monospace, 'courier new';
    color: white;
    font-size: 6vw;
    font-variant: small-caps;
    padding-top: 5vh;
}

.logo {
    width: 1.7em;
    height: 1.7em;
    vertical-align: middle;
    margin-left: 0.2em;
    margin-bottom: 1.2em;
}

/*- ================= TITRE ==================== -*/

/*- ============== TRIPADVISOR ================= -*/

#tripadvisor {
    color: white;
    margin-top: 10vw;
    background-color: rgba(32, 16, 4, 0.47);
    margin-left: 0;
    margin-right: 0;
}

#tripadvisor .note {
    width: 4em;
    height: 1em;
    vertical-align: middle;
}

#tripadvisor h5 {
    font-family: monospace, 'courier new';
    font-style: italic;
}

#tripadvisor .col-sm-4 {
    text-align: center;
    margin-top: 5vw;
}

#tripadvisor .col-sm-8 {
    text-align: center;
    margin-top: 5vw;
}

.tripadvisorlogo {
    width: 14em;
    height: 10em;
    vertical-align: middle;
}

/*- ============== TRIPADVISOR ================= -*/

/*- ============ BOUTON MISSIONS =============== -*/

#missionButton {
    background-image: url("../images/background/backButton.webp");
    background-size: 100% 100%;
    width: 20em;
    height: 20em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#missionButton h3 {
    font-size: 2.1em;
    text-shadow: 1px 1px #fae6c6, -1px -1px #5f533b;
    font-family: monospace, 'courier new';
    font-variant: small-caps;
    transform: rotate(-9deg);
    padding-top: 3.1em;
    padding-left: 2.3em;
}

#missionButton a {
    text-decoration: none;
    color: #201004;

    animation: a 400ms infinite alternate;
}

@-webkit-keyframes a {
    0% { text-shadow: 1px 1px #fae6c6, -1px -1px #5f533b; }
    100% { text-shadow: 1px 1px #fa2e2d, -1px -1px #5f533b; }
}

#missionButton a:hover {
    text-shadow: 1px 1px #fa2e2d, -1px -1px #5f533b;
    animation: none;
}

/*- ============ BOUTON MISSIONS =============== -*/

/*---------------------------------- header ----------------------------*/


/* ATOUTS */
@font-face {
    font-family: "boycott";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/BOYCOTT_.TTF");

}
@font-face {
    font-family: "atype";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/ATypewriterForMe.ttf");

}

#assets .card {
    min-width: 310px;
    max-width: 310px;
    min-height: 420px;
}
#assets .card-title {
    color: #164e1e;
    position: relative;
}
#assets .card {
    position: relative;
    background-image: url("/assets/images/295a135aaa6be7e4debb5b8f816a46d5.jpg");
    border-radius: 10px;
    z-index: 1;
    transition: 0.25s ease-in-out;

}
#assets .card-title {
    font-size: xx-large;
    color: azure;
    padding-top: 120px;
}
#assets .card-text {
    font-family: "boycott";
    font-size: xx-large;
    color: white;
}
.container-fluid {
    height: 150px;
}
#assets .enhover {
    position: absolute;
    z-index: 0;
    min-width: 300px;
    min-height: 340px;
    left: 5px;
    top: 35px;
    opacity: 0;
    color: azure;
    transition: 0.5s ease;
    font-family: "atype";
    font-weight: bold;

}
#assets .card:hover .enhover {
opacity: 100;

}
#assets .card:hover .doliprane {
opacity: 0;
}
#assets .doliprane {
    transition: 0.5s ease;
    opacity: 100;
}
#assets .card:hover {
    transform: scale(1.1);
}

/*======================= NEWS =======================*/

.tweet .card {
    background-color: rgba(255, 255, 255, 0.47);
    border-radius: 10px;
    color: #bbbbbb;
    box-shadow: 5px 4px 9px -3px rgba(0,0,0,0.41);
}

.tweet .card-header {
    font-variant: small-caps;
}

.tweet .card-body {
    max-height: 10em;
    overflow: auto;
    font-size: 1em;
    font-family: monospace, 'courier new';
}

.tweet .card:hover {
    background-color: rgba(255, 255, 255);
    color: #000;
}

.tweet .btn-news {
    background-color: darkgoldenrod;
    margin-bottom: 1em;
    box-shadow: 5px 4px 9px -3px rgba(0,0,0,0.41);
}

/*======================= NEWS =======================*/

/*FOOTER*/

footer {
    padding-top: 6em;
    padding-left: 5em;
    padding-right: 5em;
    background-image: url("../images/footer/footer.png");
    background-position: bottom;
    background-repeat: no-repeat;
    margin-left: 0;
    margin-right: 0;

}

footer p {
    color : white;
    font-family: monospace, 'Courier New';
    font-size: 1.5em;
}

.footer-center img{
    max-width: 5vw;
}

footer .row {
    min-width: 100%;
}

footer p a {
    color: goldenrod;
    transition: ease 0.2s;
}

footer p a:hover {
    color: white;
    text-decoration: none;
}

.title-footer {
    color: goldenrod;
    font-weight: bold;
}

.footer-center img {
    filter: grayscale(1);
    transition: ease 0.2s;
}

.footer-center img:hover {
    filter: grayscale(0);
}
.space {
    margin-top: 13em;
    margin-bottom: 6em;
}

/* PAGE PRICE */

#price h2, #price h3,td,th, .student {
    color: white;
    font-family: "courier new";
}
#price .student {
    font-style: italic;
}