{% extends '/layoutVisitor.html.twig' %}


{% block content %}
<section id="faq" class="container pb-5 mb-5">
	<div class="text-center">
			<button class="btn btn-primary btn-lg btn btn-success" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				FAQ
			</button>
		</div>

		<div class="collapse" id="collapseExample">
			<div class="card-body text-center">
				 <a class="btn btn-primary btn-success" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Concept du jeu</a>
                <button class="btn btn-primary btn-success" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Organisation</button>
                <button class="btn btn-primary btn-success" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Conditions</button>
				<div class="row">
					<div class="col">
						<div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="accordion" id="accordionExample">
								<div class="card-1">
									<div class="card-header" id="headingOne">
										<h2 class="mb-0">
											<button class="btn btn-default btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Esc'Ape, Qu'est ce que c'est ?</button>
										</h2>
									</div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
										<div class="card-body">
											<p>C’est un jeu dont le principe est simple : vous êtes enfermés avec vos équipiers dans une salle. Votre objectif est de réussir à en sortir en moins de 60 minutes.</p>

											<p>Comment ? En venant à bout de nombreux défis et énigmes, qui vous permettront de tester votre logique et votre réflexion et nécessiteront communication et travail d’équipe.</p>

											<p>Vous devrez rechercher des indices dont chacun vous rapprochera un peu plus de la liberté.</p>

											<p>Un vrai défi à relever ! C’est le divertissement idéal pour les groupes d’amis, les familles et les collègues de travail.</p>

											<p>Plusieurs groupes peuvent jouer simultanément et s’affronter. Des aménagement spécifiques personnalisés peuvent vous être proposés.</p>

											<p>N’hésitez pas à nous contacter.</p>

										</div>
									</div>
								</div>


								<div class="card-1">
									<div class="card-header" id="headingTwo">
										<h2 class="mb-0">
											<button class="btn btn-default btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Quelle est la taille des des équipes ?
											</button>
										</h2>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
										<div class="card-body">
											<p>Comme vous voulez !</p>

											<p>Les salles sont conçues pour recevoir des équipes de 3 à 6 personnes.</p>

											<p>Nous déconseillons de jouer à 2 car nous pensons que le jeu devient trop difficile. Cependant, si vous vous sentez à la hauteur, vous pouvez réserver pour un groupe de 3 et venir à deux !</p>

											<p>Si vous êtes plus nombreux, réservez plusieurs salles…</p>

											<p>Et si vous êtes vraiment très nombreux (entreprise, anniversaire, enterrement de vie de garçon ou fille…), nous pouvons privatiser le lieu ou même vous proposer la version Esc’ape Box pour une session à domicile ou sur votre lieu de travail : envoyez-nous un email à contact@esc-ape.fr ou utilisez notre formulaire de contact et nous vous répondrons dans les plus brefs délais.</p>
										</div>
									</div>
								</div>


								<div class="card-1">
									<div class="card-header" id="headingThree">
										<h2 class="mb-0">
											<button class="btn btn-default btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Quel est le niveau de difficulté ?
											</button>
										</h2>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
										<div class="card-body">
											<p>Le niveau de difficulté figure sur chaque fiche mission sous la forme d’une série de cinq étoiles, savant mélange entre complexité des énigmes et taux de réussite.</p>

											<p>Vigilance, donc : vous lancer dans une énigme au niveau de difficulté trop élevé pourrait vous gâcher le plaisir du jeu.</p>
										</div>
									</div>
								</div>


								<div class="card-1">
									<div class="card-header" id="headingFour">
										<h2 class="mb-0">
											<button class="btn btn-default btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
												Je suis Claustrophobe, je peux jouer quand même ?
											</button>
										</h2>
									</div>
									<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
										<div class="card-body">
											<p>Bien sûr !</p>

											<p>Si vous le souhaitez, nous pouvons laisser la porte déverrouillée.</p>
										</div>
									</div>
								</div>


							</div>



						</div>
					</div>
				</div>


				<div class="col">
					<div class="collapse multi-collapse" id="multiCollapseExample2">
						<div class="card-body">


							<div class="accordion" id="accordionExample">
								<div class="card-1">
									<div class="card-header" id="headingFive">
										<h2 class="mb-0">
											<button class="btn btn-default btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
												Pouvons-nous jouer deux équipes l'une contre l'autre ?
											</button>
										</h2>
									</div>

									<div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordionExample">
										<div class="card-body">
											<p>Lancez-vous des défis entre amis !</p>

											<p>Esc’ape propose le même jeu dans des salles différentes. Il vous suffit de réserver deux salles proposant le même jeu à la même heure. N’hésitez pas à nous contacter pour en savoir plus !</p>
										</div>
									</div>
								</div>


								<div class="card-1">
									<div class="card-header" id="headingSix">
										<h2 class="mb-0">
											<button class="btn btn-default btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
												Quel équipement pour jouer ?
											</button>
										</h2>
									</div>
									<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
										<div class="card-body">
											<br>Vous n’avez besoin de rien en particulier pour jouer.<br>

											<br>Néanmoins, si vous le souhaitez, vous pouvez venir déguisés en accord avec le thème de la pièce ! Une photo immortalisera ce moment à votre sortie.<br>
										</div>
									</div>
								</div>


								<div class="card-1">
									<div class="card-header" id="headingSeven">
										<h2 class="mb-0">
											<button class="btn btn-default btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
												Tout le monde peut-il participer ?
											</button>
										</h2>
									</div>
									<div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
										<div class="card-body">
											<p>Presque !</p>

											<p>Les enfants : nous accueillons les enfants à partir de 12 ans s’ils sont accompagnés d’un adulte.
											Pour les plus jeunes, n’hésitez pas à contacter notre partenaire <strong>Le Beignet Doré Parc</strong> ! Situé au rez-de chaussée de nos locaux, ce parc de loisirs dédié aux enfants de 1 à 12 ans accueille vos bambins pour un moment de détente, de rire et de défoulement…</p>

											<p>Les femmes enceintes : pas de contre-indication (sauf indication particulière à la réservation), le jeu ne nécessite pas d’exercices physiques ou stressants.</p>

											<p>Les personnes à mobilité réduite : malheureusement, nos locaux étant situés au premier étage du bâtiment, ils ne sont pas encore adaptés aux fauteuils roulants. Nous en sommes désolés, et espérons remédier très vite à ce manquement !</p>

											<p>Les personnes malvoyantes : certains indices étant purement visuels, il est nécessaire qu’au moins un membre de l’équipe ne soit pas malvoyant.</p>

											<p>Les personnes malentendantes : certains indices étant purement sonores, il est nécessaire qu’au moins un membre de l’équipe ne soit pas malentendant.</p>

											<p>N’hésitez pas à nous contacter.</p>
										</div>
									</div>
								</div>


								<div class="card-1">
									<div class="card-header" id="headingEight">
										<h2 class="mb-0">
											<button class="btn btn-default btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
												Peut-on jouer entre collègues ?
											</button>
										</h2>
									</div>
									<div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
										<div class="card-body">
											<p>Bien sûr, dans nos locaux tout est conçu pour allier team building et réunions studieuses.</p>

											<p>Vous pouvez même jouer sur votre lieu de travail grâce à notre Esc’ape box ! Toutes les infos sur notre page Entreprise</p>
										</div>
									</div>
								</div>


								<div class="card-1">
									<div class="card-header" id="headingnine">
										<h2 class="mb-0">
											<button class="btn btn-default btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
												Peut-on retrouver les mêmes salles dans d'autres régions ?
											</button>
										</h2>
									</div>
									<div id="collapsenine" class="collapse" aria-labelledby="headingnine" data-parent="#accordionExample">
										<div class="card-body">
											<br>Esc’Ape est indépendant : nos énigmes, nos décors, nos accessoires sont élaborées par notre team rien que pour vous !<br>
										</div>
									</div>
								</div>


							</div>


						</div>
					</div>
				</div>


				<div class="col">
					<div class="collapse multi-collapse" id="multiCollapseExample3">
						<div class="card-body">


							<div class="accordion" id="accordionExample">
								<div class="card-1">
									<div class="card-header" id="headingten">
										<h2 class="mb-0">
											<button class="btn btn-default btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseten" aria-expanded="true" aria-controls="collapseten">
												Combien ça coûte ?
											</button>
										</h2>
									</div>

									<div id="collapseten" class="collapse show" aria-labelledby="headingten" data-parent="#accordionExample">
										<div class="card-body">
											<p>Les prix varient selon le moment, votre situation et le nombre de participants :</p>

											<p><strong>Tarif étudiant : de 10h à 17h du lundi au vendredi inclus</strong></p>
											<p>4 joueurs min. :15 euros par joueur
												sur présentation de votre carte d’étudiant</p>

											<p><strong>Heures creuses : de 10h à 18h du lundi au vendredi inclus</strong></p>
											<ul>
												<li>3 joueurs : 23 euros par joueur</li>
												<li>4 joueurs : 21 euros par joueur</li>
												<li>5 joueurs : 19 euros par joueur</li>
												<li>6 joueurs : 17 euros par joueur</li>
											</ul>

											<p><strong>Heures pleines : de 19h à 21h du lundi au jeudi inclus,</strong></p>
											<ul>
											<li>de 19h à 22h le vendredi</li>
											<li>de 10h à 22h en week-end</li>
										</ul>
											<ul>
												<li>3 joueurs : 27 euros par joueur</li>
												<li>4 joueurs : 25 euros par joueur</li>
												<li>5 joueurs : 23 euros par joueur</li>>
												<li>6 joueurs : 21 euros par joueur</li>>
											</ul>
										</div>
									</div>
								</div>


								<div class="card-1">
									<div class="card-header" id="headingeleven">
										<h2 class="mb-0">
											<button class="btn btn-default btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseeleven" aria-expanded="false" aria-controls="collapseeleven">
												Puis-je offrir une session de jeu ?
											</button>
										</h2>
									</div>
									<div id="collapseeleven" class="collapse" aria-labelledby="headingeleven" data-parent="#accordionExample">
										<div class="card-body">
											<p>Vous avez même plusieurs façons de le faire :</p>

											<p><strong>Avec notre carte cadeau</strong>, valable pour deux à six personnes.</p>
											<p>Vous pouvez même demander à personnaliser l’épreuve en cachant un mot ou un cadeau personnalisé dans la pièce.</p>

											<p><strong>Avec notre Esc’ape Box</strong>, la formule cadeau à emporter : votre session de jeu se déroule où vous voulez, quand vous voulez.</p>

											<p>Pour tout savoir et pour personnaliser votre cadeau contactez nous par mail ou par téléphone au 06 58 78 61 73.</p>
										</div>
									</div>
								</div>


								<div class="card-1">
									<div class="card-header" id="headingtwelve">
										<h2 class="mb-0">
											<button class="btn btn-default btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapsetwelve" aria-expanded="false" aria-controls="collapsetwelve">
												Comment réserver ?
											</button>
										</h2>
									</div>
									<div id="collapsetwelve" class="collapse" aria-labelledby="headingtwelve" data-parent="#accordionExample">
										<div class="card-body">
											<p>Jusqu’à la veille de votre session préférée, deux possibilités : utiliser notre système de réservation en ligne, via la page prévue à cet effet ou bien nous contacter par téléphone au 06 58 78 61 73.</p>
											<p>Pour une session le jour même, réservez uniquement par téléphone et toujours au 06 58 78 61 73.</p>


										</div>
									</div>
								</div>


							</div>


						</div>
					</div>
				</div>


			</div>

		</div>


		<div class="row" id="carte">
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center mt-5">
				<h3 class="text-light">
					ESC'APE
				</h3>
				<div id="adress" class="text-light">

				<p>384 rue des Moulins</p>
				<p>45750 Saint Pryvé Saint Mesmin</p>
				<p>Tél : 06 58 78 61 73</p>

				</div>
			</div>

			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 border border-dark mx-auto">
				<iframe width="115%" height="115%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=1.8451237678527834%2C47.872244723522954%2C1.858566999435425%2C47.87869261274586&amp;layer=mapnik&amp;marker=47.87546876843124%2C1.851845383644104"></iframe>
			</div>
		</div>


</section>
{% endblock %}