<section id="missions">
    <div class="container">

        <div class="title">
            <h1>Choisis ta mission!</h1>
        </div>

        <div class="row justify-content-center card-deck">
            <div class="col-lg-6 d-flex justify-content-center">
                <div class="card m-4">
                    <a href="#"><img
                                src="../../../assets/images/missions/hauntedHouse.jpg"
                                class="card-img-top" alt="demeure"></a>
                    <div class="card-body">
                        <h5 class="card-title">La demeure</h5>
                        <div class="row">
                            <p class="card-text col">3 à 6 </br> joueurs</p>
                            <p class="card-text col"> Difficulté: </br>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </p>
                        </div>
                        <a href="#" class="btn btn-success">Reserver</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 d-flex justify-content-center">
                <div class="card m-4">
                    <a href="#"><img
                                src="../../../assets/images/missions/Nautilus.jpg"
                                class="card-img-top" alt="nautilus"></a>
                    <div class="card-body">
                        <h5 class="card-title">Nautilus</h5>
                        <div class="row">
                            <p class="card-text col">2 à 4 </br> joueurs </p>
                            <p class="card-text col"> Difficulté: </br>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </p>
                        </div>
                        <a href="#" class="btn btn-success">Reserver</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 d-flex justify-content-center">
                <div class="card m-4">
                    <a href="#"><img
                                src="../../../assets/images/missions/Chimie.jpg"
                                class="card-img-top" alt="past"></a>
                    <div class="card-body">
                        <h5 class="card-title">Back to the past</h5>
                        <div class="row">
                            <p class="card-text col">3 à 6 </br> joueurs</p>
                            <p class="card-text col"> Difficulté: </br>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </p>
                        </div>
                        <a href="#" class="btn btn-success">Reserver</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 d-flex justify-content-center">
                <div class="card m-4">
                    <a href="#"><img
                                src="../../../assets/images/missions/top-secret.jpg"
                                class="card-img-top"
                                alt="atelier"></a>
                    <div class="card-body">
                        <h5 class="card-title">L'atelier</h5>
                        <div class="row">
                            <p class="card-text col">3 à 6 </br> joueurs</p>
                            <p class="card-text col"> Difficulté: </br>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            </p>
                        </div>
                        <a href="#" class="btn btn-success">Reserver</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 d-flex justify-content-center">
                <div class="card m-4">
                    <a href="#"><img
                                src="../../../assets/images/missions/aerotrain.jpg"
                                class="card-img-top" alt="aerotrain"></a>
                    <div class="card-body">
                        <h5 class="card-title">Aiguillage fatal</h5>
                        <div class="row">
                            <p class="card-text col">3 à 6 </br> joueurs</p>
                            <p class="card-text col"> Difficulté: </br>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </p>
                        </div>
                        <a href="#" class="btn btn-success">Reserver</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
