{% extends '/layoutVisitor.html.twig' %}

{% block content %}
    <div class="container">
    <h2 class="text-center">Tarifs</h2>
    <nav>
        <div class="nav nav-tabs justify-content-center my-3" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active navbutton px-5 " id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"> Heures Creuses</a>
            <a class="nav-item nav-link navbutton px-5" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"> Heures Pleines</a>
            <a class="nav-item nav-link navbutton px-5" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="far fa-star"></i> Nautillus </a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active text-center" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <h3>de 10h à 18h du lundi au vendredi inclus</h3>
            <table class="table table-hover table-bordered my-3">
                <thead>
                <tr>
                    <th scope="col">Joueurs</th>
                    <th scope="col">Prix</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mark Otto</td>
                    <td>Male</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade text-center" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <h3>de 19h à 21h du lundi au jeudi, inclus de 19h à 22h le vendredi, de 10h à 22h en week-end</h3>
            <table class="table table-hover table-bordered my-3">
                <thead>
                <tr>
                    <th scope="col">Joueurs</th>
                    <th scope="col">Prix</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mark Otto</td>
                    <td>Male</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade text-center" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <table class="table table-hover table-bordered my-3">
                <thead>
                <tr>
                    <th scope="col">Joueurs</th>
                    <th scope="col">Prix</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mark Otto</td>
                    <td>Male</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}